html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.hide{
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 660px;
    padding: 32px;
}

.score-panel .score-panel-item {
    width: calc(100% / 4);
    float: left;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #ffd203;
}

.score-panel .restart {
    cursor: pointer;
    background: transparent;
    border-radius: 40px;
    font-size: 16px;
    color: red;
}


.pop-up.showed {
    position: absolute;
    background: rgba(0,0,0,0.9);
    text-align: center;
    top: 0;
    color: white;
    width: 100vw;
    height: 100%;
    padding-top: 25%;
}

.fin-stars{
    color: #ffd203;
}

.pop-up .restart {
    font-size: 20px;
    color: white;
    border: 1px #eee solid;
    background: transparent;
    border-radius: 40px;
    margin: 20px;
}